# Vivado
project_FPGA/*
!project_FPGA/DragonCrackFPGA.xpr
!project_FPGA/DragonCrackFPGA.srcs
*.dcp

# IP repository
ip_repo/edit*

# Python
python_driver/*
!python_driver/*.py

# Vitis
# done in project_vitis/workspace folder (to be able to keep it)

# others
.Xil